.homepage {
    background-color: rgb(49, 50, 50);
    background-image: url(images/picA.jpg);
    background-size: 100%;
    /* background-position: center; */
    /* background-size: cover; */
    /* background-position: top; */
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    /* width: auto; */
    /* height: auto; */
}

.Home_container {
    width: auto;
    margin-left: 100px;
    margin-right: 100px;

    header {
        color: chartreuse;
        font-size: 20pt;
        height: 118px;
        text-align: center;
    }

    header img {
        width: auto;
        height: 110px;
    }

    nav {
        background-color: rgba(152, 4, 4, 0.59);
        /* font-size: 20pt; */
        /* height: 118px; */
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    nav a {
        color: chartreuse;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    main {
        /* font-size: 20pt; */
        height: 80vh;
        text-align: center;
    }

    main p {
        /* background-color: rgb(124, 89, 25); */
        /* height: 4px; */
        color: aqua;
        text-align: center;
        padding-top: 8px;
        padding-left: 240px;
        padding-right: 240px;

        a {
            color: aqua;
        }

    }

    footer {
        background-color: rgba(40, 9, 140, 0.493);
        text-align: center;
        /* padding-top: 1px;
        padding-bottom: 1px; */
    }

    footer p {
        /* padding-left: auto;
        padding-right: auto; */
        text-align: center;
        font-size: 10pt;
        color: aliceblue;
    }
}

@media only screen and (max-width:500px) {
    .homepage {
        /*maxwidth:350px;*/
        margin-left: 0px;
        margin-right: 0px;
        background-blend-mode: lighten;
        /* padding: 20px; */
        /* background-color: black; */
        background-repeat: no-repeat;
        background-size: 300vw;
        background-position-x: -320px;
        /* background-position-y: 80px; */
        display: flex;
        flex-direction: column;
        /* background-size: 190%; */
        background-attachment: fixed;
        /* position: fixed; */

        /* flex-direction: horizontal; */
    }

    .Home_container {
        nav {
            width: 140px;
            height: 100px;
            margin-top: 250px;
            margin-left: 30px;
            padding-top: 0px;
            /* background-color: darkred; */
        }

        nav a {
            margin-top: -120px;
            /* padding: 1px; */
            /* padding-left: -10px; */
        }

        /* margin-left: 0px;
        margin-right: auto; */
        /* text-align: left; */

        /*  */
        /* margin-left: -20px; */
        main p {
            padding-top: 200px;
            margin-left: -78vw;
            margin-right: -78vw;
            margin-top: -680px;
            color: ivory;
        }

        footer {
            margin-top: 220px;
            margin-left: -20vw;
            width: 90vw;
        }

        /* margin-top:300px; */
        /* columns: 1; */
        /* padding-right: 10px; */
        /* margin-left: 10px; */

        /* display: flex; */
        /* flex-direction: column; */
        /* height: 40vh; */
    }

    /* .Con_form {
        margin-left: -19px;
        margin-right: 30px;
        color: aqua     ;

        .Con_h1 {
            margin-left: 0px;
            color: black;

        }

        .Con_h2 {
            margin-left: 0px;
            color: black;
            max-width: 200px;

        }
    } */

    /* footer {
            position: relative;
            padding-left: 10px;
            margin-top: 600px;
        } */


}




/* ######################################################### */
/* ######################################################### */


.Background {
    background-color: rgba(5, 5, 5, 0.942);
    background-image: url('images/Spiderman1.jpg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: 380px;
}


.BG_Container {
    /* background-color: rgba(5, 5, 5, 0.942); */
    /* background-image: url('images/Spiderman1.jpg'); */
    color: aquamarine;
    background-size: cover;
    /* background-repeat: no-repeat;   */
    margin-left: 400px;
    margin-right: 400px;

    /* background-size: 75%; */
    /* background-position: top; */
    /* background-position-x: 460px; */
    /* width: 1024px; */
    /* height: 10%; */
    /* height: 100%; */
    main {
        height: 80vh;
    }

    nav {
        background-color: rgba(152, 4, 4, 0.59);
        /* font-size: 20pt; */
        /* height: 118px; */
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    nav a {
        color: chartreuse;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    footer {
        background-color: rgba(40, 9, 140, 0.493);
        /* width: auto; */
        /* padding-left: 200px; */
    }
}

@media only screen and (max-width:500px) {
    .Background {
        margin: 0px;
        /* padding: 20px; */
        background-color: black;
        background-repeat: no-repeat;
        background-position-x: -600px;
        background-position-y: 80px;
        display: flex;
        background-size: 250%;
        background-attachment: fixed;
        /* position: fixed; */
        /* background-size: 100vw; */
        /* flex-direction: horizontal; */
    }

    .BG_Container {
        /* margin-top:300px; */
        /* columns: 1; */
        /* padding: 20px; */
        margin-left: 10px;
        margin-right: 10vw;
        /* display: flex; */
        /* flex-direction: column; */
        /* height: 40vh; */

    }

    /* .BackGround_p{
        padding-bottom: 200px;

    } */
    main p {
        padding-bottom: 20px;

    }

    footer {
        position: relative;
        /* background-color: #007bff; */
        /* color: #007bff; */
        /* padding: 0%; */
        /* position: fixed; */
        /* margin-top: auto; */
        margin-bottom: 0px;
        /* padding: 0%; */
        margin-left: 0px;
        margin-right: 0vw;
        margin-top: 350px;
        /* bottom: 0px; */
        width: 85vw;


    }

    /* .BackGroundFoot { */
    /* padding: 0%; */
    /* margin-left: 0px; */
    /* margin-right: 0vw; */
    /* margin-top: auto; */
    /* bottom: 0px; */

    /* position: fixed; */
    /* width: 85vw */
    /* } */
}


.Research {
    background-color: rgba(5, 5, 5, 0.942);
    background-image: url('images/deadpool.jpg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 620px;
}

.Res_Container {
    /* background-color: rgba(5, 5, 5, 0.942); */
    /* background-image: url('images/Spiderman1.jpg'); */
    color: aquamarine;
    background-size: cover;
    /* background-repeat: no-repeat;   */
    margin-left: 25%;
    margin-right: 28%;

    /* background-size: 75%; */
    /* background-position: top; */
    /* background-position-x: 460px; */
    /* width: 1024px; */
    /* height: 10%; */
    /* height: 100%; */
    main {
        height: 83vh;
    }

    nav {
        background-color: rgba(152, 4, 4, 0.59);
        /* font-size: 20pt; */
        /* height: 118px; */
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    nav a {
        color: chartreuse;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    footer {
        background-color: rgba(40, 9, 140, 0.493);
    }


    /* #############################################33 */

    .Res_container2 {
        display: flex;
        /* Use Flexbox to align tiles horizontally */
        justify-content: center;
        /* Center the tiles */
        align-items: center;
        /* Align items vertically if needed */
        /* height: 100vh; Full viewport height */
        gap: 20px;
        /* Space between tiles */
    }

    .tile {
        width: 150px;
        /* height: 150px; */
        background-color: rgba(212, 16, 16, 0.592);
        /* Blue background color */
        color: white;
        padding: 20px;
        border-radius: 10px;
        /* Rounded corners */
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        /* Slight shadow */
        transition: transform 0.2s;
        /* Animation effect */
    }

    .tile:hover {
        transform: scale(1.05);
        /* Slightly enlarge tile on hover */
    }

    .tile a {
        text-decoration: none;
        /* Remove underline from link */
        color: white;
        /* Link color */
        font-weight: bold;
        /* Make the text bold */
    }

}


@media only screen and (max-width:410px) {
    .Research {
        margin: 0px;
        /* padding: 20px; */
        background-color: black;
        background-repeat: no-repeat;
        background-position-x: -120px;
        background-position-y: 80px;
        display: flex;
        background-size: 190%;
        background-attachment: fixed;
        /* position: fixed; */
        /* background-size: 100vw; */
        /* flex-direction: horizontal; */
    }

    .Res_Container {
        margin-left: 0px;

        main p {
            /* margin-left: -45px; */

            /* margin-top:300px; */
            /* columns: 1; */
            padding-right: 10px;
            margin-left: 10px;
            /* margin-right: 10px; */
            /* display: flex; */
            /* flex-direction: column; */
            /* height: 40vh; */

        }

        .Res_container2 {
            flex: auto;
            flex-direction: column;

        }


        footer {
            position: relative;
            padding-left: 10px;
            /* bottom: 0; */
            margin-top: 600px;
        }
    }



}



/* #####################################################33 */
.Services {
    background-color: rgba(5, 5, 5, 0.942);
    background-image: url('images/optimus1.jpg');
    background-repeat: no-repeat;
    background-size: 85%;
    background-position-x: 380px;
}

.Serv_Container {
    /* background-color: rgba(5, 5, 5, 0.942); */
    /* background-image: url('images/Spiderman1.jpg'); */
    color: aquamarine;
    background-size: cover;
    /* background-repeat: no-repeat;   */
    margin-left: 400px;
    margin-right: 400px;

    /* background-size: 75%; */
    /* background-position: top; */
    /* background-position-x: 460px; */
    /* width: 1024px; */
    /* height: 10%; */
    /* height: 100%; */
    main {
        height: 80vh;
        color: black;
    }

    nav {
        background-color: rgba(152, 4, 4, 0.59);
        /* font-size: 20pt; */
        /* height: 118px; */
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    nav a {
        color: chartreuse;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    footer {
        background-color: rgba(40, 9, 140, 0.493);
    }

    .serv_h1 {
        color: rgba(8, 8, 173, 0.61);
        font-size: 40px;
        text-align: center;
    }

    .Serv_Foot {
        background-color: rgba(29, 5, 119, 0.67);
    }
}

@media only screen and (max-width:410px) {
    .Services {
        margin: 0px;
        /* padding: 20px; */
        background-color: black;
        background-repeat: no-repeat;
        background-size: 250vw;
        background-position-x: -350px;
        background-position-y: 80px;
        display: flex;
        /* background-size: 190%; */
        background-attachment: fixed;
        /* position: fixed; */

        /* flex-direction: horizontal; */
    }

    .Serv_Container {
        /* margin-left: 0px; */


        margin-left: 5px;

        /* margin-top:300px; */
        /* columns: 1; */
        /* padding-right: 10px; */
        /* margin-left: 10px; */
        /* margin-right: 10px; */
        /* display: flex; */
        /* flex-direction: column; */
        /* height: 40vh; */


        /* footer {
            position: relative;
            padding-left: 10px;
            margin-top: 600px;
        } */
    }

}


/* ########### Teaching ################ */
.Teaching {
    background-color: rgb(0, 0, 0);
    background-image: url('images/gipsy5.jpg');
    background-repeat: no-repeat;
    background-size: 92%;
    background-position-x: 300px;
}

.Tea_Container {
    /* background-color: rgba(5, 5, 5, 0.942); */
    /* background-image: url('images/Spiderman1.jpg'); */
    color: aquamarine;
    background-size: cover;
    /* background-repeat: no-repeat;   */
    margin-left: 400px;
    margin-right: 400px;

    /* background-size: 75%; */
    /* background-position: top; */
    /* background-position-x: 460px; */
    /* width: 1024px; */
    /* height: 10%; */
    /* height: 100%; */
    main {
        height: 80vh;
        color: rgb(227, 224, 14);
    }

    nav {
        background-color: rgba(152, 4, 4, 0.59);
        /* font-size: 20pt; */
        /* height: 118px; */
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    nav a {
        color: chartreuse;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }


    .Tea_h1 {
        color: rgb(56, 231, 12);
        font-size: 40px;
        text-align: left;
    }

    .Tea_h2 {
        color: rgb(56, 231, 12);
        /* margin-top: 0; */
        margin-bottom: 0;
        /* font-size: 40px; */
        /* text-align: left; */
    }

    .Tea_Foot {
        background-color: rgba(29, 5, 119, 0.67);
    }
}

@media only screen and (max-width:410px) {
    .Teaching {
        margin: 0px;
        /* padding: 20px; */
        background-color: black;
        background-repeat: no-repeat;
        background-size: 250vw;
        background-position-x: -175px;
        background-position-y: 80px;
        display: flex;
        /* background-size: 190%; */
        background-attachment: fixed;
        /* position: fixed; */

        /* flex-direction: horizontal; */
    }

    .Tea_Container {
        margin-left: 5px;
        margin-right: 10px;

        /* margin-left: 5px; */

        /* margin-top:300px; */
        /* columns: 1; */
        /* padding-right: 10px; */
        /* margin-left: 10px; */

        /* display: flex; */
        /* flex-direction: column; */
        /* height: 40vh; */


        /* footer {
            position: relative;
            padding-left: 10px;
            margin-top: 600px;
        } */
    }

}

/* ########### Teaching ################ */
.Contact {
    background-color: rgb(0, 0, 0);
    background-image: url('images/Goku.jpg');
    background-repeat: no-repeat;
    background-size: 81%;
    background-position-x: 300px;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #6a0606;
}

.Con_Container {
    /* background-color: rgba(5, 5, 5, 0.942); */
    /* background-image: url('images/Spiderman1.jpg'); */
    color: aquamarine;
    background-size: cover;
    /* background-repeat: no-repeat;   */
    margin-left: 400px;
    margin-right: 400px;

    /* background-size: 75%; */
    /* background-position: top; */
    /* background-position-x: 460px; */
    /* width: 1024px; */
    /* height: 10%; */
    /* height: 100%; */

    nav {
        background-color: rgba(152, 4, 4, 0.59);
        /* font-size: 20pt; */
        /* height: 118px; */
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    nav a {
        color: chartreuse;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    main {
        height: 80vh;
        color: rgb(227, 224, 14);
    }




}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #6a0606;
} */

.Con_h1 {
    margin-left: 160px;
    color: aliceblue;
    /* text-align: left; */
    margin-bottom: 5px;
}

.Con_h2 {
    margin-left: 160px;
    color: aliceblue;
    margin-top: 0px;
}

.Con_form {
    max-width: 500px;
    margin: auto;
    margin-left: 140px;
    padding: 20px;
    /* background: white; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Con_label {
    color: aliceblue;
    display: block;
    margin-bottom: 5px;
}

.Con_input,
.Con_textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Con_button {
    width: 100%;
    margin-left: 10px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Con_button:hover {
    background: #0056b3;
}


@media only screen and (max-width:410px) {
    .Contact {
        margin-left: 0px;
        /* padding: 20px; */
        background-color: black;
        background-repeat: no-repeat;
        background-size: 250vw;
        background-position-x: -425px;
        /* background-position-y: 80px; */
        display: flex;
        flex-direction: column;
        /* background-size: 190%; */
        background-attachment: fixed;
        /* position: fixed; */

        /* flex-direction: horizontal; */
    }

    .Con_Container {
        /* margin-left: -400px; */
        margin-right: 10px;

        margin-left: -20px;

        /* margin-top:300px; */
        /* columns: 1; */
        /* padding-right: 10px; */
        /* margin-left: 10px; */

        /* display: flex; */
        /* flex-direction: column; */
        /* height: 40vh; */
    }

    .Con_form {
        margin-left: -19px;
        margin-right: 30px;
        color: aqua;

        .Con_h1 {
            margin-left: 0px;
            color: black;

        }

        .Con_h2 {
            margin-left: 0px;
            color: black;
            max-width: 200px;

        }
    }

    /* footer {
            position: relative;
            padding-left: 10px;
            margin-top: 600px;
        } */


}



/*########## Extras ###########*/
/* 
.container {
    text-align: center; /* Center the text */
/* } */

/* .rotating-image { */
/* width: 300px; Set the width of the image */
/* transition: transform 0.6s ease; Smooth transition effect */
/* } */

/* .rotating-image:hover { */
/* transform: rotate(360deg); Rotate the image on hover */
/* }   */
