body {
        background-color: rgb(49, 50, 50);
        background-image: url(images/picA.jpg);
        background-size: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: overlay;

}



h1 {
        color: rgba(255, 255, 255, 0.73);
        font-size: 84px;
        margin-top: 0;
        font-family: Arial, Helvetica, sans-serif;

}
p {
        color: rgb(255, 255, 255);
        font-size: 22px;
        margin-top: 0;
        font-family: Arial, Helvetica, sans-serif;


}

h2 {
        color: black;
        font-size: 15px;
        margin-top: 0;

}


.container {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
}
/* div {
                background-color: yellow;
                width: 600px;
                height: 400px;
        } */
    header {
            /* background-color: blue; */
            height: 118px;
            text-align: center;
    }
    header img {
        width: auto;
        height: 110px;
    } 
    nav {
            background-color: rgba(152, 4, 4, 0.59);
            /* height: 40px; */ 
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
    } 
    /* Both of these 2 below remove underlines */
    nav a {
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* .no_underline {
        text-decoration: none
    } */

    main {
            /* background-color: rgb(124, 89, 25); */
            height: 400px;
            text-align: center;
            padding-top: 80px;
            padding-left: 240px;
            padding-right: 240px;
    }
    footer {
            background-color: rgba(30, 5, 113, 0.408);
            /* height: 10px; */
            padding-top: 10px;
            padding-bottom: 10px;
            /* text-align: center; */
            
    }
    footer p {
        /* padding-left: auto;
        padding-right: auto; */
        text-align: center;
        font-size: 10px;
        color: aliceblue;
    }
    .highlight-text {
        color: blue;
        font-size: 30px;
    }    

    a{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .maps {
        padding-top: 10px;
        padding-bottom: 10px;
    }